USE [master]
GO
/****** Object:  Database [tea01]    Script Date: 26/11/2020 1:25:37 AM ******/
CREATE DATABASE [tea01]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tea01', FILENAME = N'G:\MSSQL12.MSSQLSERVER\MSSQL\DATA\tea01.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'tea01_log', FILENAME = N'G:\MSSQL12.MSSQLSERVER\MSSQL\DATA\tea01_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tea01].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tea01]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 26/11/2020 1:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bills](
	[BillId] [varchar](10) NOT NULL,
	[OrderTimeStart] [datetime] NOT NULL CONSTRAINT [DF__Bills__OrderTime__37A5467C]  DEFAULT (NULL),
	[Payments] [varchar](10) NULL CONSTRAINT [DF__Bills__Payments__38996AB5]  DEFAULT (NULL),
	[TableId] [varchar](10) NULL CONSTRAINT [DF__Bills__TableId__398D8EEE]  DEFAULT (NULL),
	[Total] [int] NULL CONSTRAINT [DF__Bills__Total__3A81B327]  DEFAULT (NULL),
	[OrderTimeEnd] [datetime] NULL CONSTRAINT [DF__Bills__OrderTime__3B75D760]  DEFAULT (NULL),
	[UserName] [varchar](50) NULL CONSTRAINT [DF__Bills__UserName__3C69FB99]  DEFAULT (NULL),
	[PhoneNumber] [varchar](10) NULL CONSTRAINT [DF__Bills__PhoneNumb__3D5E1FD2]  DEFAULT (NULL),
	[CodeVoucher] [nvarchar](10) NULL,
 CONSTRAINT [PK__Bills__11F2FC6A51D30A39] PRIMARY KEY CLUSTERED 
(
	[BillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 26/11/2020 1:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[PhoneNumber] [varchar](10) NOT NULL,
	[FullName] [nvarchar](100) NULL CONSTRAINT [DF__Customer__FullNa__2F10007B]  DEFAULT (NULL),
	[Address] [nvarchar](100) NULL CONSTRAINT [DF__Customer__Addres__300424B4]  DEFAULT (NULL),
	[Level] [int] NULL CONSTRAINT [DF__Customer__Level__30F848ED]  DEFAULT (NULL),
 CONSTRAINT [PK__Customer__85FB4E39FEA20E72] PRIMARY KEY CLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Drink_Resource]    Script Date: 26/11/2020 1:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Drink_Resource](
	[ResourceId] [varchar](10) NOT NULL,
	[DrinkId] [varchar](10) NOT NULL,
	[Amount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResourceId] ASC,
	[DrinkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Drinks]    Script Date: 26/11/2020 1:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Drinks](
	[DrinkId] [varchar](10) NOT NULL,
	[DrinkName] [nvarchar](100) NULL CONSTRAINT [DF__Drinks__DrinkNam__4316F928]  DEFAULT (NULL),
	[Price] [int] NULL CONSTRAINT [DF__Drinks__Price__440B1D61]  DEFAULT (NULL),
	[Image] [varchar](100) NULL CONSTRAINT [DF__Drinks__Image__44FF419A]  DEFAULT (NULL),
	[Icon] [varchar](100) NULL CONSTRAINT [DF__Drinks__Icon__45F365D3]  DEFAULT (NULL),
	[DrinkTypeId] [varchar](10) NULL CONSTRAINT [DF__Drinks__DrinkTyp__46E78A0C]  DEFAULT (NULL),
 CONSTRAINT [PK__Drinks__C094D3E854BC2ECC] PRIMARY KEY CLUSTERED 
(
	[DrinkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DrinkTypes]    Script Date: 26/11/2020 1:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DrinkTypes](
	[DrinkTypeId] [varchar](10) NOT NULL,
	[DrinkTypeName] [nvarchar](100) NULL CONSTRAINT [DF__DrinkType__Drink__108B795B]  DEFAULT (NULL),
 CONSTRAINT [PK__DrinkTyp__F6D6B765393C514E] PRIMARY KEY CLUSTERED 
(
	[DrinkTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Items]    Script Date: 26/11/2020 1:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Items](
	[Amount] [int] NULL DEFAULT (NULL),
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[BillId] [varchar](10) NOT NULL,
	[DrinkId] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC,
	[BillId] ASC,
	[DrinkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ItemTopping]    Script Date: 26/11/2020 1:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ItemTopping](
	[ItemId] [int] NOT NULL,
	[ToppingId] [varchar](10) NOT NULL,
	[BillId] [varchar](10) NOT NULL,
	[DrinkId] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC,
	[ToppingId] ASC,
	[BillId] ASC,
	[DrinkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Permision]    Script Date: 26/11/2020 1:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Permision](
	[PermisionID] [varchar](10) NOT NULL,
	[PermisionName] [varchar](100) NULL DEFAULT (NULL),
PRIMARY KEY CLUSTERED 
(
	[PermisionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PermisionDetail]    Script Date: 26/11/2020 1:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PermisionDetail](
	[PermisionDetailId] [varchar](10) NOT NULL,
	[ActionName] [varchar](1) NULL DEFAULT (NULL),
	[PermisionID] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PermisionDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Resources]    Script Date: 26/11/2020 1:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Resources](
	[ResourceId] [varchar](10) NOT NULL,
	[ResourceName] [nvarchar](100) NULL CONSTRAINT [DF__Resources__Resou__173876EA]  DEFAULT (NULL),
	[Amount] [int] NULL CONSTRAINT [DF__Resources__Amoun__182C9B23]  DEFAULT (NULL),
 CONSTRAINT [PK__Resource__4ED1816F87F6641C] PRIMARY KEY CLUSTERED 
(
	[ResourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 26/11/2020 1:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Staff](
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](100) NULL CONSTRAINT [DF__Staff__Password__1DE57479]  DEFAULT (NULL),
	[FullName] [nvarchar](100) NULL CONSTRAINT [DF__Staff__FullName__1ED998B2]  DEFAULT (NULL),
	[Age] [datetime] NULL CONSTRAINT [DF__Staff__Age__1FCDBCEB]  DEFAULT (NULL),
	[PhoneNumber] [varchar](10) NULL CONSTRAINT [DF__Staff__PhoneNumb__20C1E124]  DEFAULT (NULL),
	[Address] [nvarchar](100) NULL CONSTRAINT [DF__Staff__Address__21B6055D]  DEFAULT (NULL),
	[Avatar] [varchar](100) NULL CONSTRAINT [DF__Staff__Avatar__22AA2996]  DEFAULT (NULL),
 CONSTRAINT [PK__Staff__C9F28457BFDD93F7] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TableSpace]    Script Date: 26/11/2020 1:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TableSpace](
	[TableId] [varchar](10) NOT NULL,
	[TableName] [nvarchar](100) NULL CONSTRAINT [DF__TableSpac__Table__33D4B598]  DEFAULT (NULL),
	[Status] [int] NULL CONSTRAINT [DF__TableSpac__Statu__34C8D9D1]  DEFAULT (NULL),
 CONSTRAINT [PK__TableSpa__7D5F01EE08DB36E2] PRIMARY KEY CLUSTERED 
(
	[TableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Topping_Resource]    Script Date: 26/11/2020 1:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Topping_Resource](
	[ResourceId] [varchar](10) NOT NULL,
	[ToppingId] [varchar](10) NOT NULL,
	[Amount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResourceId] ASC,
	[ToppingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Toppings]    Script Date: 26/11/2020 1:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Toppings](
	[ToppingId] [varchar](10) NOT NULL,
	[ToppingName] [nvarchar](100) NULL CONSTRAINT [DF__Toppings__Toppin__1367E606]  DEFAULT (NULL),
	[Price] [int] NULL CONSTRAINT [DF__Toppings__Price__145C0A3F]  DEFAULT (NULL),
 CONSTRAINT [PK__Toppings__EE02CC85C092F7CA] PRIMARY KEY CLUSTERED 
(
	[ToppingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserPermision]    Script Date: 26/11/2020 1:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserPermision](
	[UserName] [varchar](50) NOT NULL,
	[PermisionID] [varchar](10) NOT NULL,
 CONSTRAINT [pk_user_permistion] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC,
	[PermisionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 26/11/2020 1:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[Code] [nvarchar](10) NOT NULL,
	[dateStart] [datetime] NULL,
	[dateEnd] [datetime] NULL,
	[ratio] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Bills] ([BillId], [OrderTimeStart], [Payments], [TableId], [Total], [OrderTimeEnd], [UserName], [PhoneNumber], [CodeVoucher]) VALUES (N'221118133', CAST(N'2020-11-22 19:46:30.577' AS DateTime), N'OFFLINE', NULL, 99000, NULL, N'nobita', N'0984402978', N'THUHIEN')
INSERT [dbo].[Bills] ([BillId], [OrderTimeStart], [Payments], [TableId], [Total], [OrderTimeEnd], [UserName], [PhoneNumber], [CodeVoucher]) VALUES (N'2211181833', CAST(N'2020-11-22 00:00:00.000' AS DateTime), N'OFFLINE', NULL, 105000, NULL, N'nobita', N'0984402978', NULL)
INSERT [dbo].[Bills] ([BillId], [OrderTimeStart], [Payments], [TableId], [Total], [OrderTimeEnd], [UserName], [PhoneNumber], [CodeVoucher]) VALUES (N'2211184639', CAST(N'2020-11-22 00:00:00.000' AS DateTime), N'OFFLINE', NULL, 52000, NULL, N'nobita', N'0984402978', NULL)
INSERT [dbo].[Customer] ([PhoneNumber], [FullName], [Address], [Level]) VALUES (N'0123401234', N'Đỗ Xuân Cảnh', N'Nam Định', 1)
INSERT [dbo].[Customer] ([PhoneNumber], [FullName], [Address], [Level]) VALUES (N'0123456789', N'Nguyễn Quỳnh Anh', N'Ninh Bình', 0)
INSERT [dbo].[Customer] ([PhoneNumber], [FullName], [Address], [Level]) VALUES (N'0392301017', N'Phạm Thị Thu Hiền', N'Yên Nhân, Yên Mô, Ninh Bình', 1)
INSERT [dbo].[Drink_Resource] ([ResourceId], [DrinkId], [Amount]) VALUES (N'000001', N'01', 3)
INSERT [dbo].[Drink_Resource] ([ResourceId], [DrinkId], [Amount]) VALUES (N'000001', N'03', 1)
INSERT [dbo].[Drink_Resource] ([ResourceId], [DrinkId], [Amount]) VALUES (N'000002', N'01', 1)
INSERT [dbo].[Drinks] ([DrinkId], [DrinkName], [Price], [Image], [Icon], [DrinkTypeId]) VALUES (N'01', N'Trà sữa không đường', 25000, N'D:\TeaManagement\Project\bin\Debug\Images\trasua01.jpg', NULL, N'01')
INSERT [dbo].[Drinks] ([DrinkId], [DrinkName], [Price], [Image], [Icon], [DrinkTypeId]) VALUES (N'02', N'Trà sữa chân trâu', 12000, N'D:\TeaManagement\Project\bin\Debug\Images\trasua02.jpg', NULL, N'02')
INSERT [dbo].[Drinks] ([DrinkId], [DrinkName], [Price], [Image], [Icon], [DrinkTypeId]) VALUES (N'03', N'Trà sữa có đường', 20000, N'D:\TeaManagement\Project\bin\Debug\Images\trasua08.jpg', NULL, N'03')
INSERT [dbo].[DrinkTypes] ([DrinkTypeId], [DrinkTypeName]) VALUES (N'01', N'Loại cao cấp')
INSERT [dbo].[DrinkTypes] ([DrinkTypeId], [DrinkTypeName]) VALUES (N'02', N'Loại tầm trung')
INSERT [dbo].[DrinkTypes] ([DrinkTypeId], [DrinkTypeName]) VALUES (N'03', N'Loại tiêu chuẩn')
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([Amount], [ItemId], [BillId], [DrinkId]) VALUES (NULL, 1, N'231125310', N'01')
INSERT [dbo].[Items] ([Amount], [ItemId], [BillId], [DrinkId]) VALUES (NULL, 2, N'231125310', N'03')
INSERT [dbo].[Items] ([Amount], [ItemId], [BillId], [DrinkId]) VALUES (NULL, 3, N'23112569', N'6')
SET IDENTITY_INSERT [dbo].[Items] OFF
INSERT [dbo].[ItemTopping] ([ItemId], [ToppingId], [BillId], [DrinkId]) VALUES (8, N'11', N'231131458', N'01')
INSERT [dbo].[ItemTopping] ([ItemId], [ToppingId], [BillId], [DrinkId]) VALUES (9, N'10', N'231133324', N'02')
INSERT [dbo].[ItemTopping] ([ItemId], [ToppingId], [BillId], [DrinkId]) VALUES (9, N'11', N'231133324', N'02')
INSERT [dbo].[Permision] ([PermisionID], [PermisionName]) VALUES (N'01', N'Full')
INSERT [dbo].[Permision] ([PermisionID], [PermisionName]) VALUES (N'02', N'Admin')
INSERT [dbo].[Permision] ([PermisionID], [PermisionName]) VALUES (N'03', N'ReadOnly')
INSERT [dbo].[PermisionDetail] ([PermisionDetailId], [ActionName], [PermisionID]) VALUES (N'01', N'C', N'01')
INSERT [dbo].[PermisionDetail] ([PermisionDetailId], [ActionName], [PermisionID]) VALUES (N'02', N'E', N'01')
INSERT [dbo].[PermisionDetail] ([PermisionDetailId], [ActionName], [PermisionID]) VALUES (N'03', N'D', N'01')
INSERT [dbo].[Resources] ([ResourceId], [ResourceName], [Amount]) VALUES (N'000001', N'Hong Tra Tan Nam Bac', 100)
INSERT [dbo].[Resources] ([ResourceId], [ResourceName], [Amount]) VALUES (N'000002', N'Tuyet Yen Van Nam', 10)
INSERT [dbo].[Resources] ([ResourceId], [ResourceName], [Amount]) VALUES (N'000003', N'Che Duong Nhan', 100)
INSERT [dbo].[Staff] ([UserName], [Password], [FullName], [Age], [PhoneNumber], [Address], [Avatar]) VALUES (N'iamdai', N'1Z3auZuoRerM5FhU5xvLwcPwBm29fr1s', N'Nguyen Viet Dai', CAST(N'2020-11-11 01:42:02.803' AS DateTime), N'0123456789', N'Bac Ninh', N'')
INSERT [dbo].[Staff] ([UserName], [Password], [FullName], [Age], [PhoneNumber], [Address], [Avatar]) VALUES (N'nobita', N'1Z3auZuoRerM5FhU5xvLwcPwBm29fr1s', N'Le Quang Duy', CAST(N'2000-03-02 17:19:30.603' AS DateTime), N'0392301017', N'Ninh Binh', N'G:\Screenshot_20201030-153300.jpg')
INSERT [dbo].[Staff] ([UserName], [Password], [FullName], [Age], [PhoneNumber], [Address], [Avatar]) VALUES (N'prochicken007', N'1Z3auZuoRerM5FhU5xvLwcPwBm29fr1s', N'Nguyen Van An', CAST(N'2000-11-09 16:17:05.210' AS DateTime), N'0392301017', N'Nguyen Chi Thanh', N'F:\img2.png')
INSERT [dbo].[TableSpace] ([TableId], [TableName], [Status]) VALUES (N'1', N'Bàn 1 Tầng 1', 0)
INSERT [dbo].[TableSpace] ([TableId], [TableName], [Status]) VALUES (N'10', N'Bàn 3 tầng 4', 1)
INSERT [dbo].[TableSpace] ([TableId], [TableName], [Status]) VALUES (N'11', N'Bàn 4 tầng 4', 1)
INSERT [dbo].[Topping_Resource] ([ResourceId], [ToppingId], [Amount]) VALUES (N'000001', N'1', 2)
INSERT [dbo].[Topping_Resource] ([ResourceId], [ToppingId], [Amount]) VALUES (N'000002', N'1', 1)
INSERT [dbo].[Topping_Resource] ([ResourceId], [ToppingId], [Amount]) VALUES (N'000002', N'11', 1)
INSERT [dbo].[Toppings] ([ToppingId], [ToppingName], [Price]) VALUES (N'1', N'Chân châu Truyền Thống', 10000)
INSERT [dbo].[Toppings] ([ToppingId], [ToppingName], [Price]) VALUES (N'10', N'Nếp thơm', 10000)
INSERT [dbo].[Toppings] ([ToppingId], [ToppingName], [Price]) VALUES (N'11', N'Gạo tẻ', 7000)
INSERT [dbo].[UserPermision] ([UserName], [PermisionID]) VALUES (N'iamdai', N'11')
INSERT [dbo].[UserPermision] ([UserName], [PermisionID]) VALUES (N'nobita', N'01')
INSERT [dbo].[UserPermision] ([UserName], [PermisionID]) VALUES (N'prochicken007', N'10')
INSERT [dbo].[Voucher] ([Code], [dateStart], [dateEnd], [ratio]) VALUES (N'LOVEHIEN', CAST(N'2020-11-12 17:25:39.000' AS DateTime), CAST(N'2020-11-20 17:25:39.000' AS DateTime), 5)
INSERT [dbo].[Voucher] ([Code], [dateStart], [dateEnd], [ratio]) VALUES (N'THUHIEN', CAST(N'2020-11-21 17:25:39.727' AS DateTime), CAST(N'2020-11-28 17:25:39.000' AS DateTime), 5)
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK__Bills__PhoneNumb__3F466844] FOREIGN KEY([PhoneNumber])
REFERENCES [dbo].[Customer] ([PhoneNumber])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK__Bills__PhoneNumb__3F466844]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK__Bills__TableId__403A8C7D] FOREIGN KEY([TableId])
REFERENCES [dbo].[TableSpace] ([TableId])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK__Bills__TableId__403A8C7D]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK__Bills__UserName__3E52440B] FOREIGN KEY([UserName])
REFERENCES [dbo].[Staff] ([UserName])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK__Bills__UserName__3E52440B]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [fk_codeVoucher] FOREIGN KEY([CodeVoucher])
REFERENCES [dbo].[Voucher] ([Code])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [fk_codeVoucher]
GO
ALTER TABLE [dbo].[Drink_Resource]  WITH CHECK ADD FOREIGN KEY([DrinkId])
REFERENCES [dbo].[Drinks] ([DrinkId])
GO
ALTER TABLE [dbo].[Drink_Resource]  WITH CHECK ADD FOREIGN KEY([ResourceId])
REFERENCES [dbo].[Resources] ([ResourceId])
GO
ALTER TABLE [dbo].[Drinks]  WITH CHECK ADD  CONSTRAINT [FK__Drinks__DrinkTyp__47DBAE45] FOREIGN KEY([DrinkTypeId])
REFERENCES [dbo].[DrinkTypes] ([DrinkTypeId])
GO
ALTER TABLE [dbo].[Drinks] CHECK CONSTRAINT [FK__Drinks__DrinkTyp__47DBAE45]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD FOREIGN KEY([BillId])
REFERENCES [dbo].[Bills] ([BillId])
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD FOREIGN KEY([DrinkId])
REFERENCES [dbo].[Drinks] ([DrinkId])
GO
ALTER TABLE [dbo].[ItemTopping]  WITH CHECK ADD FOREIGN KEY([ToppingId])
REFERENCES [dbo].[Toppings] ([ToppingId])
GO
ALTER TABLE [dbo].[ItemTopping]  WITH CHECK ADD FOREIGN KEY([ItemId], [BillId], [DrinkId])
REFERENCES [dbo].[Items] ([ItemId], [BillId], [DrinkId])
GO
ALTER TABLE [dbo].[PermisionDetail]  WITH CHECK ADD FOREIGN KEY([PermisionID])
REFERENCES [dbo].[Permision] ([PermisionID])
GO
ALTER TABLE [dbo].[Topping_Resource]  WITH CHECK ADD FOREIGN KEY([ResourceId])
REFERENCES [dbo].[Resources] ([ResourceId])
GO
ALTER TABLE [dbo].[Topping_Resource]  WITH CHECK ADD FOREIGN KEY([ToppingId])
REFERENCES [dbo].[Toppings] ([ToppingId])
GO
ALTER TABLE [dbo].[UserPermision]  WITH CHECK ADD FOREIGN KEY([PermisionID])
REFERENCES [dbo].[Permision] ([PermisionID])
GO
ALTER TABLE [dbo].[UserPermision]  WITH CHECK ADD  CONSTRAINT [FK__UserPermi__UserN__276EDEB3] FOREIGN KEY([UserName])
REFERENCES [dbo].[Staff] ([UserName])
GO
ALTER TABLE [dbo].[UserPermision] CHECK CONSTRAINT [FK__UserPermi__UserN__276EDEB3]
GO
USE [master]
GO
